root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8

# Kotlin
ktlint_code_style = ktlint_official

# trailing commas 사용
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled

# 반드시 wrapping 룰도 활성화해야 함 (이거 없으면 CI 에러 발생함)
ktlint_standard_wrapping = enabled

